body {
    background-color: #e1e5f2;
}

.footer {
    background-color: #fff;
    text-align: center;
}

.flex-container {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item-first {
    color: #022b3a;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    flex: 0 0 100%;
}

.flex-item {
    padding: 15px;
    display: inline-block;
}

.grid-container {
    display: grid;
    grid-template-columns: 1000px 300px;
    column-gap: 20px;
}